div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#PageHeader1
{
   background-color: #F5F5F5;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
}
#PageHeader1
{
   transition: all 500ms linear 0ms;
}
#wb_ResponsiveMenu1
{
   display: block;
   background-color: #424242;
   font-family: Arial;
   font-weight: normal;
   text-align: center;
   width: 100%;
}
#ResponsiveMenu1
{
   display: inline-block;
   background-color: #424242;
   height: 69px;
}
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li
{
   border-radius: 0;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i
{
   font-size: 24px;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li a
{
   background-color: #424242;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   padding: 15px 30px 15px 30px;
   text-align: center;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: 39px;
}
.ResponsiveMenu1 a 
{
   display: block;
}
#wb_ResponsiveMenu1 li:hover > a, #wb_ResponsiveMenu1 li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 69px;
}
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li 
{
   float: none;
   position: relative;
   width: 271px;
}
#wb_ResponsiveMenu1 ul ul li a
{
   background-color: #7A7A7A;
   border: 0px solid #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul li:hover > a, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul li i 
{
   margin-right: 8px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   padding-top: 15px;
   padding-right: 20px;
   padding-bottom: 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   left: 271px;
   position: relative;
   top: -69px;
}
#wb_ResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #FFFFFF;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu1 li:hover > a .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #424242;
}
#wb_ResponsiveMenu1 ul ul li:hover > a .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #424242;
}
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:768px) 
{
#wb_ResponsiveMenu1
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   padding: 15px 20px 15px 20px;
}
#wb_ResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 
{
   background-color: transparent;
   display: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: auto !important;   margin: 0;
}
#wb_ResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #424242;
   color: #FFFFFF;
   padding: 0 20px 0 20px;
   line-height: 54px;
   text-decoration: none;
   border: none;
}
#wb_ResponsiveMenu1 .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
[id^=ResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu1-title
{
   height: 69px !important;
   line-height: 69px !important;
   text-align: center;
}
#wb_ResponsiveMenu1 ul li 
{
   display: block;
   width: 100% !important;
   text-align: left;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_ResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu1 ul li i 
{
   margin-right: 8px;
}
#wb_ResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   left: 30px;
   top: 22px;
}
#ResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #FFFFFF;
   color: #FFFFFF;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{
   border-top-color: #424242;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
{
   border-top-color: #424242;
}
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
}
#Layer1
{
   transform: rotate(0deg) ;
   transition: transform 500ms linear 0ms;
}
#Layer1:hover
{
   transform: rotate(0deg) scale(1.2,1.2) ;
   transition: transform 500ms linear 0ms;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   color: #000000;
   font-family: Arial;
   font-weight: 400;
   font-size: 27px;
   line-height: 30px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
#Layer2
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
}
#wb_searchOpen
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 15px 0 15px 0 ;
   padding: 0;
   vertical-align: top;
}
#searchOpen
{
   height: 35px;
   width: 33px;
}
#searchOpen i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 33px;
   line-height: 35px;
   vertical-align: middle;
   width: 32px;
}
#wb_searchOpen:hover #searchOpen i
{
   color: #FFFFFF;
}
#wb_searchClose
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 15px 0 15px 0 ;
   padding: 0;
   vertical-align: top;
}
#searchClose
{
   height: 35px;
   width: 33px;
}
#searchClose i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 33px;
   line-height: 35px;
   vertical-align: middle;
   width: 32px;
}
#wb_searchClose:hover #searchClose i
{
   color: #FFFFFF;
}
#searchInput
{
   border: 0px solid #E15E28;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 26px;
   margin: 15px 10px 15px 0 ;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#searchInput:focus
{
   border-color: #E15E28;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(225,94,40,0.60);
   outline: 0;
}
#wb_headerPanelMenu a, #headerPanelMenu_markup li a
{
   display: block;
   text-align: left;
   vertical-align: middle;
}
#wb_headerPanelMenu
{
   margin: 5px 0 0 0 ;
}
#headerPanelMenu_markup
{
   display: none;
   margin: 0;
   padding: 20px 8px 65px 8px;
}
#headerPanelMenu_panel #headerPanelMenu_markup
{
   display: block;
}
#headerPanelMenu_markup ul
{
   list-style: none;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#headerPanelMenu_markup li a, #headerPanelMenu_markup li a:hover
{
   padding: 10px 15px 10px 15px;
   box-shadow: none;
}
#headerPanelMenu_markup .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #2E2E2E;
}
#headerPanelMenu_panel
{
   display: none;
   position: fixed;
   top: 0;
   height: 100%;
   width: 250px;
   z-index: 9999;
}
#headerPanelMenu_markup li a
{
   color: #FFFFFF;
   border: 0px solid #2E2E2E;
   background-color: #1F5F61;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
}
#wb_headerPanelMenu a
{
   color: #FFFFFF;
   border: 0px solid #2E2E2E;
   border-radius: 0px;
   background-color: #1F5F61;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}
#headerPanelMenu_markup li a:hover
{
   color: #FFFFFF;
   background-color: #193441;
   border: 0px solid #2E2E2E;
}
#wb_headerPanelMenu a:hover
{
   color: #FFFFFF;
   background-color: #193441;
   border: 0px solid #2E2E2E;
}
#headerPanelMenu_panel
{
   background-color: #1F5F61;
   overflow-y: auto;
}
#headerPanelMenu .line
{
   width: 32px;
   height: 6px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
   transition: all 0.3s ease-in-out;
}
#headerPanelMenu .line:first-child
{
   margin-top: 13px;
}
#headerPanelMenu.open .line
{
   transition: margin 0.3s ease, transform 0.3s ease-in-out 0.4s;
}
#headerPanelMenu.open .line:nth-child(1)
{
   margin-top: 25px;
   transform: rotate(225deg);
}
#headerPanelMenu.open .line:nth-child(2)
{
   opacity: 0;
}
#headerPanelMenu.open .line:nth-child(3)
{
   margin-top: -24px;
   transform: rotate(135deg);
}
#headerPanelMenu
{
   line-height: 53px;
   width: 50px;
   height: 53px;
   position: absolute;
   z-index: 999;
}
#headerPanelMenu-footer
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   padding: 0 0 16px 0;
   text-align: center;
}
#InlineFrame1 img
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
   width: 100%;
   height: 100%;
}
#InlineFrame2 img
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
   width: 100%;
   height: 100%;
}
#InlineFrame3 img
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
   width: 100%;
   height: 100%;
}
#InlineFrame4 img
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
   width: 100%;
   height: 100%;
}
#InlineFrame5 img
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
   width: 100%;
   height: 100%;
}
#InlineFrame6 img
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
   width: 100%;
   height: 100%;
}
#InlineFrame7 img
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
   width: 100%;
   height: 100%;
}
#InlineFrame8 img
{
   border: 1px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
   width: 100%;
   height: 100%;
}
#Layer3
{
   background-color: #000000;
   background-image: none;
   border-radius: 0px;
}
#SiteSearch1
{
   border: 1px solid #C5C5C5;
   border-radius: 4px;
   background-color: #F6F6F6;
   background-image: none;
   color: #454545;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 16px;
   margin: 0;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#SiteSearch1:focus
{
   outline: 0;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
}
#Button1:focus
{
   outline: 0;
}
#headerPanelMenu_panel 
{
    margin-top: 65px;
}
#headerPanelMenu-footer 
{
    font-size: 12px;
    bottom: 70px !important;
}
